.team-card{
    width: 30%;
    margin: 10px 0px;
}
.team-card-container{
    flex-wrap: wrap;
}
.rate-icon-container{
    pad: 0px;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
}
.rate-icon-container small{
    color: #939393;
    width: 100%;
    text-transform: capitalize;
}