.profit{
    background-color: green;
    color: white !important;
    text-align: center !important;
    border-radius: 10px;
}
.loss{
    background-color: red;
    color: white !important;
    text-align: center !important;
    border-radius: 10px;
}
.tr{
    gap: 10px;
}