.landpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: relative;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: top;
}
.landpage-content-wrapper{
  position: relative;

}

.landpage-content-wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    margin: auto;
}
.landpage-text-container{
    width: 90%;
    text-align: center;
}
.launch-btn-container{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landpage-text-container h1{
    color:white;
    font-size: 5.5rem;
}
.landpage-text-container p{
    color: var(--mild-color);
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 40px;
    width: 90%;
}
.landpage-text-container button{
  margin: 40px 0px;
  align-self: center;
}
.landpage-highlight{
  font-family: 'Poppins';
background: #A7CFDF;
  background: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landpage-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}
.landpage-line{
  height: 2px;
  width: 300px;
  background: linear-gradient(to right, #42464C 0%, #9FADB0 50%, #4A544D 100%);
}
.site-name{
  color: var(--mild-color);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
  font-family: 'Poppins';
}
.launch-btn{
  background: #42464C;
    background: linear-gradient(to right, #42464C 0%, #9FADB0 50%, #4A544D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
  border: 1px solid var(--mild-color);
}
.launch-btn:hover{
  color: var(--mild-color);
}
.launch-btn:hover > .launch-btn span{
  color: var(--mild-color);
}

@media screen and (max-width: 767px){

    .landpage{
        justify-content: center;
        background: rgb(35, 83, 138);
          background: -moz-linear-gradient(180deg, rgba(35, 83, 138, 1) 0%, rgba(10, 42, 78, 1) 8%, rgba(12, 30, 51, 1) 24%, rgba(0, 0, 0, 1) 100%);
          background: -webkit-linear-gradient(180deg, rgba(35, 83, 138, 1) 0%, rgba(10, 42, 78, 1) 8%, rgba(12, 30, 51, 1) 24%, rgba(0, 0, 0, 1) 100%);
          background: linear-gradient(180deg, rgba(35, 83, 138, 1) 0%, rgba(10, 42, 78, 1) 8%, rgba(12, 30, 51, 1) 24%, rgba(0, 0, 0, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23538a", endColorstr="#000000", GradientType=1);
    }
      .landpage-content-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px 0px 30px 0px;
      }
      .landpage-text-container{
        text-align: center;
        width: 100%;
        align-self: center;
        padding-left: 0px;
        text-align: left;
      }
      .landpage-header{
        margin: 30px 0px;
      }
      .site-name{
        margin: 0px 20px;
        font-size: 1rem;
      }
      .launch-btn{
        align-self: flex-start;
        margin-left: 20px 0px;
      }
      .landpage-img-container{
        margin-bottom: 50px;
        width: 100%;
      }
      .floating-container-img3{
        right: 10px;
      }
      
    .landpage-text-container p {
      margin: 30px 0px 10px 0px;
      text-align: center;
      width: 100%;
    }

    .landpage-text-container h1 {
      font-size: 3.2rem;
      color: white;
      width: 100%;
      text-align: center;
    }
  }
  /* @media screen and (max-width: 767px){
    .landpage{
      justify-content: center;
    }
    .landpage-content-wrapper{
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .landpage-text-container{
      text-align: center;
      width: 85%;
      align-self: center;
      padding-left: 0px;
      text-align: left;
      padding-top: 60px;
    }
    .landpage-text-container p{
      margin: 30px 0px;
      line-height: 22px;
    }
    .landpage-text-container h1{
      font-size: 1.6rem;
      color: white;
      width: 100%;
    }
    .launch-btn{
      margin: 40px 0px 0px 0px;
    }
    
    .landpage-img-container{
      width: 100%;
      margin-top: 10px;
    }
  } */