.mt5-trade-section{
    padding: 20px 0px 40px 0px;
}
.mt5-img{
    border-radius: 20px;
}
.mt5-img img{
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 18%);
}
@media (max-width: 990px) {
    .mt5-wrapper{
        flex-direction: column-reverse;
    }
    .mt5-text{
        margin-top: 40px;
    }
}