.mt5-trade-section{
    padding: 20px 0px 40px 0px;
}
.mt5-img{
    width: 50%;
}
.mt5-img img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 990px) {
    .mt5-wrapper{
        flex-direction: column-reverse;
    }
    .mt5-text{
        margin-top: 40px;
    }
    .mt5-img {
        width: 100%;
    }
}