.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 20px 0px;
    
}
.contact-wrapper{
    background: rgba(31, 31, 31, 0.737);
    border-radius: 30px 30px 0px 30px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1058%26quot%3b)' fill='none'%3e%3cpath d='M-75.05 8.38 a83.43 83.43 0 1 0 166.86 0 a83.43 83.43 0 1 0 -166.86 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M79.154%2c163.479C110.086%2c164.141%2c139.687%2c149.81%2c155.975%2c123.506C173.162%2c95.749%2c176.175%2c60.829%2c160.422%2c32.234C144.136%2c2.671%2c112.887%2c-14.805%2c79.154%2c-15.94C43.207%2c-17.149%2c4.51%2c-5.437%2c-12.169%2c26.429C-28.075%2c56.819%2c-11.191%2c91.79%2c7.829%2c120.334C24.343%2c145.117%2c49.38%2c162.841%2c79.154%2c163.479' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-111.81 45.15 a156.96 156.96 0 1 0 313.92 0 a156.96 156.96 0 1 0 -313.92 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1398.413%2c141.867C1427.339%2c142.728%2c1451.839%2c122.674%2c1466.223%2c97.563C1480.513%2c72.617%2c1485.015%2c41.592%2c1469.837%2c17.176C1455.319%2c-6.179%2c1425.907%2c-10.962%2c1398.413%2c-11.521C1369.541%2c-12.108%2c1336.28%2c-10.805%2c1321.77%2c14.163C1307.22%2c39.2%2c1322.349%2c68.894%2c1337.251%2c93.724C1351.561%2c117.567%2c1370.617%2c141.04%2c1398.413%2c141.867' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1263.68 9.65 a85.97 85.97 0 1 0 171.94 0 a85.97 85.97 0 1 0 -171.94 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1304.37 -31.04 a4.59 4.59 0 1 0 9.18 0 a4.59 4.59 0 1 0 -9.18 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-111.71 445.05 a156.76 156.76 0 1 0 313.52 0 a156.76 156.76 0 1 0 -313.52 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M24.631%2c481.803C43.895%2c482.01%2c58.843%2c466.614%2c67.883%2c449.602C76.311%2c433.74%2c77.431%2c414.888%2c68.455%2c399.329C59.474%2c383.762%2c42.6%2c374.327%2c24.631%2c374.631C7.163%2c374.927%2c-8.129%2c385.544%2c-16.697%2c400.77C-25.093%2c415.691%2c-24.821%2c433.439%2c-17.042%2c448.691C-8.402%2c465.631%2c5.616%2c481.599%2c24.631%2c481.803' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M89.682%2c602.016C130.353%2c603.225%2c169.43%2c582.708%2c189.609%2c547.375C209.635%2c512.309%2c206.674%2c468.742%2c185.394%2c434.422C165.218%2c401.881%2c127.97%2c386.264%2c89.682%2c386.21C51.288%2c386.156%2c12.755%2c400.934%2c-6.498%2c434.152C-25.801%2c467.454%2c-19.592%2c508.325%2c-0.456%2c541.723C18.805%2c575.339%2c50.956%2c600.864%2c89.682%2c602.016' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1223.39 449.95 a166.56 166.56 0 1 0 333.12 0 a166.56 166.56 0 1 0 -333.12 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1276.48 396.85 a60.37 60.37 0 1 0 120.74 0 a60.37 60.37 0 1 0 -120.74 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1276.17 397.17 a61 61 0 1 0 122 0 a61 61 0 1 0 -122 0z' fill='rgba(54%2c 54%2c 54%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1058'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
#contact{
    background-color: var(--primary-color);
    width: 100%;
}
.contact-card{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40px;
    padding: 0px ;
}
.contact-ball svg{
    margin: auto;
    color: var(--primary-color);
}
.contact-ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--mild-color);
    font-size: 1.1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:15px;
}
.contact-card p{
    text-transform: capitalize;
    font-family: poppins;
    font-size: .9rem;
    font-weight: 400;
    margin: 0px;
    text-align: left;
    color: #b7b7b7;
}
.contact-card-text{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-p h1{
    color:white;
}
.contact-p p{
    color: #b7b7b7;
}
.contact-form{
    width: 90%;
}
.contact-form-container{
width: 45%;
display: flex;
align-items: center;
justify-content: center;
align-self: flex-start;
}

@media screen and (max-width: 767px){
    .contact-form-container{
        width: 100% !important;
        margin-bottom: 0px;
        padding: 0px;
    }
    .contact-form{
        width: 100%;
    }
    .contact-section{
        padding-bottom: 0px;
    }
}