.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 20px 0px;
    
}
.contact-wrapper{
    background: rgba(31, 31, 31, 0.737);
    border-radius: 30px 30px 0px 30px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1052%26quot%3b)' fill='none'%3e%3cpath d='M76.464%2c158.952C109.24%2c157.971%2c145.087%2c153.939%2c162.089%2c125.9C179.551%2c97.102%2c171.866%2c60.211%2c153.423%2c32.032C136.72%2c6.511%2c106.954%2c-5.732%2c76.464%2c-4.929C47.446%2c-4.165%2c22.825%2c12.098%2c6.223%2c35.91C-13.914%2c64.791%2c-35.974%2c100.727%2c-18.519%2c131.303C-0.997%2c161.997%2c41.137%2c160.009%2c76.464%2c158.952' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-100.87 34.21 a135.08 135.08 0 1 0 270.16 0 a135.08 135.08 0 1 0 -270.16 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M107.706%2c228.388C151.601%2c228.12%2c192.422%2c207.261%2c215.906%2c170.175C241.248%2c130.155%2c252.953%2c78.524%2c228.168%2c38.157C204.181%2c-0.91%2c153.541%2c-6.925%2c107.706%2c-6.046C63.85%2c-5.205%2c18.17%2c5.39%2c-5.009%2c42.63C-29.344%2c81.727%2c-26.699%2c132.141%2c-2.809%2c171.512C20.226%2c209.475%2c63.302%2c228.659%2c107.706%2c228.388' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1393.697%2c119.668C1417.348%2c119.829%2c1439.16%2c107.254%2c1451.231%2c86.914C1463.563%2c66.135%2c1464.077%2c40.916%2c1453.256%2c19.311C1441.091%2c-4.978%2c1420.862%2c-27.859%2c1393.697%2c-27.959C1366.414%2c-28.059%2c1345.431%2c-5.605%2c1333.377%2c18.871C1322.739%2c40.472%2c1325.142%2c65.479%2c1337.506%2c86.14C1349.51%2c106.199%2c1370.321%2c119.509%2c1393.697%2c119.668' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1469.446%2c281.04C1519.88%2c279.381%2c1555.652%2c237.477%2c1580.204%2c193.392C1603.929%2c150.793%2c1618.092%2c99.928%2c1593.887%2c57.6C1569.546%2c15.034%2c1518.479%2c-0.527%2c1469.446%2c-0.292C1420.893%2c-0.06%2c1372.528%2c17.448%2c1347.051%2c58.781C1320.366%2c102.075%2c1320.77%2c156.572%2c1345.302%2c201.121C1370.747%2c247.326%2c1416.727%2c282.775%2c1469.446%2c281.04' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1231.76 41.57 a149.81 149.81 0 1 0 299.62 0 a149.81 149.81 0 1 0 -299.62 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-70.23 403.57 a73.8 73.8 0 1 0 147.6 0 a73.8 73.8 0 1 0 -147.6 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-110.71 444.04 a154.75 154.75 0 1 0 309.5 0 a154.75 154.75 0 1 0 -309.5 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M54.099%2c532.015C83.297%2c532.649%2c112.633%2c521.608%2c127.797%2c496.648C143.5%2c470.801%2c142.757%2c437.824%2c127.014%2c412.001C111.872%2c387.163%2c83.135%2c373.988%2c54.099%2c375.761C27.8%2c377.367%2c8.358%2c397.267%2c-4.865%2c420.056C-18.152%2c442.955%2c-26.593%2c470.138%2c-14.256%2c493.563C-1.2%2c518.354%2c26.087%2c531.407%2c54.099%2c532.015' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1239.48 433.86 a134.38 134.38 0 1 0 268.76 0 a134.38 134.38 0 1 0 -268.76 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1428.519%2c593.807C1465.925%2c593.017%2c1501.011%2c573.554%2c1518.714%2c540.593C1535.575%2c509.201%2c1528.886%2c471.711%2c1510.489%2c441.194C1492.758%2c411.782%2c1462.803%2c392.996%2c1428.519%2c390.98C1389.991%2c388.715%2c1348.582%2c397.837%2c1327.964%2c430.464C1306.18%2c464.936%2c1310.099%2c509.823%2c1331.476%2c544.548C1351.859%2c577.658%2c1389.647%2c594.628%2c1428.519%2c593.807' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1241.97 431.36 a129.39 129.39 0 1 0 258.78 0 a129.39 129.39 0 1 0 -258.78 0z' fill='rgba(65%2c 65%2c 65%2c 0.82)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1052'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
#contact{
    background-color: var(--primary-color);
    width: 100%;
}
.contact-card{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40px;
    padding: 0px ;
}
.contact-ball svg{
    margin: auto;
    color: var(--primary-color);
}
.contact-ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--mild-color);
    font-size: 1.1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:15px;
}
.contact-card p{
    text-transform: capitalize;
    font-family: poppins;
    font-size: .9rem;
    font-weight: 400;
    margin: 0px;
    text-align: left;
    color: #b7b7b7;
}
.contact-card-text{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-p h1{
    color:white;
}
.contact-p p{
    color: #b7b7b7;
}
.contact-form{
    width: 90%;
}
.contact-form-container{
width: 45%;
display: flex;
align-items: center;
justify-content: center;
align-self: flex-start;
}

@media screen and (max-width: 767px){
    .contact-form-container{
        width: 100% !important;
        margin-bottom: 0px;
        padding: 0px;
    }
    .contact-form{
        width: 100%;
    }
    .contact-section{
        padding-bottom: 0px;
    }
}